<!--     name: String,
    description: String,
    address: String,
    hours: String,
    phone: String,
    image: String,
    tips: Array,
    rating: Array -->

<!doctype html>
<html>
    <head>
        <title>Add New Business</title>
    </head>
    <body>
        <form action="/nearby/new" method="POST"><br>
            Name: <input type="text" name="name"><br>
            Description: <input type="text" name="description"><br>
            Address: <input type="text" name="address"><br>
            Hours: <input type="text" name="hours"><br>
            Phone: <input type="text" name="phone"><br>
            Image: <input type="text" name="image"><br>
            <input type="submit">
        </form>
        <br><br>
        <form action="/ask/new" method="POST">
            <br>Question: <input type="text" name="question"><br>
            <input type="submit">
        </form>
              
    </body>
</html>